<header class="">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div>
      <img class="w-16" src="https://cdn.pixabay.com/photo/2019/09/22/16/20/backend-4496461_1280.png" alt="portfolio logo">
    </div>
    <div class="md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
      <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
        <li>
          <a class="hover:text-gray-500" href="">A propos</a>
        </li>
        <li>
          <a class="hover:text-gray-500" href="">Compétences</a>
        </li>
        <li>
          <a class="hover:text-gray-500" href="">CV</a>
        </li>
        <li>
          <a class="hover:text-gray-500" href="">Projets</a>
        </li>
        <li>
          <a class="hover:text-gray-500" href="">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>